<div class="contain">
    <div clas="panel">
        <br><br>
        <div class="panel-heading text-center">
            <span class="holdings-amount"><h1>...</h1></span>
            <h6 class="holdings-heading">Total Holdings</h6>
        </div>
    </div>
    <br><br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#!"><small>TOKENS</small></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!"><small>ORDER</small></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!"><small>HISTORY</small></a>
        </li>
    </ul>
    <br>
    <input/>

</div>